/* Empty. Add your own CSS if you like */

.modal{
  top: 20% !important;
  right: 20% !important;
  bottom: 20% !important;
  left: 20% !important;
  overflow: visible !important;
  min-height: 240px !important;
  width: 60% !important;
  background: rgba(255,255,255,0.5);
}
